<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-12">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In aut asperiores eveniet inventore at laudantium cum natus id, Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores sunt minima, ab rem laboriosam atque inventore sapiente suscipit eius minus rerum voluptate dignissimos, ipsum odit et corporis? Sapiente, in? Sequi. rem doloribus magni maxime ullam ipsam dicta quod temporibus voluptatem nobis officiis!</p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi accusantium expedita quaerat perferendis voluptatum reprehenderit magni libero eum, corrupti tenetur. Vitae harum dicta nesciunt quasi nemo optio voluptas molestias illum? ipsum dolor sit, amet consectetur adipisicing elit. In aut asperiores eveniet inventore at laudantium cum natus id, rem doloribus magni maxime ullam ipsam dicta quod temporibus voluptatem nobis officiis!</p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In aut asperiores eveniet inventore at laudantium cum natus id, rem doloribus magni maxime ullam ipsam dicta quod temporibus voluptatem nobis Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita non voluptatibus in voluptate quibusdam soluta esse? Perferendis, molestiae ratione! Debitis voluptatum natus ratione cupiditate aliquid distinctio enim rerum odit magni. officiis!</p>
        </ul>
    </div>
</div>
