.row{
    padding: 30px;
    border-top: solid 1px grey;
    border-bottom:solid 1px grey;
}

div{
    background-color: rgb(24, 26, 27);
    color: rgb(209, 205, 199);
}

h1, h3{
    display: inline;
}
ul{
    padding-top: 20px;
    padding-left: 100px;
}