<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-3">
        <img src="../../../assets/perfil.png" id="perfil">
        <p id="nombre">Lucas Barrionuevo</p>
        <p id="titulo">Full Stack Developer</p>
    </div>  
    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
        <span>
            <h1>Acerca De</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla voluptas facilis error temporibus rem voluptatem, ex deleniti id perspiciatis aspernatur quibusdam eaque sequi odio tempora itaque sit nemo explicabo enim.                
            </p>
        </span>
    </div>
</div>