.row{
    padding: 20px;
}

div{
    background-color: #000000;
}


/*Config responsive de la foto de perfil*/
@media (min-width: 576px){
    #perfil{
        position:absolute;
        height: 30%;
        width: 15%;
        border-radius: 100%;
        left: 4%;
        top: 550px;
    }
}

/*Config responsive de la foto de perfil*/
@media (max-width: 575px){
    #perfil{
        position: center;
        height: 90%;
        width: 50%;
        border-radius: 50%;
        left: 25%;
        top: 830px;
    }
}


/*Config responsive del nombre*/
@media (max-width: 575px){
    #nombre{
        position: absolute;
        height: 25%;
        width: 50%;
        border-radius: 50%;
        left: 25%;
        top: 830px;
    }
}

/*Etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 23%;
    font-size: 30px;
    text-align: start;
    padding-left: 16%;
}

#titulo{
    font-size: 20px;
    text-align: start;
    padding-left: 22%;    
}

h1{
    padding-top: 30px;
}

span p {
    padding-top: 10px;
    padding-left: 30px;
}

#nombre, #titulo{
    padding: -30px;
}